<table class="table">
<% comments.each do |comment| %>
<% unless comment.id.nil? %>

<tr>
	<td><%= link_to (comment.user) do %>
		<%= attachment_image_tag(comment.user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg") %>
		<% end %>
		<%= comment.comment %>
	  <% if comment.user == current_user %>
		<%= link_to "削除", book_comments_path(comment.id), method: :delete, class:"pull-right", remote: true %>
		<% end %>
	</td>
</tr>
		<% end %>
<% end %>
</table>